.post-content {
  display: flex;
  flex-direction: column;
}

.post-content-text {
  padding-bottom: 1rem;
}

.link-attachment-content {
  display: flex;
  flex-direction: row;
}

.link-attachment-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
}

.link-url {
  margin: 0.25rem 1rem 1rem 0;
}
