@import '@bufferapp/components/variables.css';

.container {
  align-items: center;
  display: flex;
}

.arrow {
  display: flex;
  align-self: center;
  margin-right: 0.357rem;
  margin-left: 0.357rem;
}

.childPage {
  display: flex;
}

.childPage span {
  color: var(--outer-space);
}