@import '@bufferapp/components/variables.css';

.post-details {
  display: flex;
  padding: 1em;
  background: #FCFCFC;
  border-top: var(--border-width) solid var(--mystic);
}

.post-controls {
  flex-grow: 1;
}

.post-author {
  display: flex;
}

.post-details-author-image {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.post-icon {
  color: var(--shuttle-gray);
}

.post-icon,
.post-details-author-image,
.post-source {
  margin-right: 0.5em;
}

.post-details-author-email {
  margin-right: 0.3em;
}

.post-icon-last {
  composes: post-icon;
  margin: 0;
}

.post-button-last {
  margin-left: 2em;
}

.post-button-last:hover span,
.post-button:hover span {
  color: var(--black);
}

.post-button-last:hover svg g,
.post-button:hover svg g {
  fill: var(--black);
}

.post-cancel-delete {
  margin-left: 0.5em;
}

.post-cancel-delete:hover span {
  color: var(--black);
}
