@import '@bufferapp/components/variables.css';

.post-details {
  display: flex;
  padding: 1rem;
  background: #FCFCFC;
  border-top: var(--border-width) solid var(--mystic);
}

.post-action-details {
  flex-grow: 1;
}

.post-controls {
  display: flex;
}

.post-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  align-items: center;
}

.post-source,
.post-action {
  margin-right: 0.5rem;
}

.post-button {
  margin-left: 0.5rem;
}

.post-button-last {
  margin-left: 1rem;
}

.vertical-line {
  margin-right: 1rem;
  border-left: var(--border-width) solid var(--mystic);
}

.post-button-last:hover span,
.post-button:hover span {
  color: var(--black);
}

.post-button-last:hover svg g,
.post-button:hover svg g {
  fill: var(--black);
}

.post-cancel-delete:hover span {
  color: var(--black);
}
