@import '@bufferapp/components/variables.css';

.post-details {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #fcfcfc;
  border-top: var(--border-width) solid var(--mystic);
}

.post-action-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.post-action-details > svg {
  margin-right: 0.5rem;
}

.post-controls {
  display: flex;
}

.post-source,
.post-action {
  margin-right: 0.5rem;
}

.post-button-edit {
  margin-left: 0.7rem;
}

.vertical-line {
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  border-left: var(--border-width) solid var(--mystic);
}

.post-button-last:hover span,
.post-button:hover span {
  color: var(--black);
}

.post-button-last:hover svg g,
.post-button:hover svg g {
  fill: var(--black);
}

.post-cancel-delete:hover span {
  color: var(--black);
}
