.text {
  flex-grow: 1;
}

.service {
  text-transform: capitalize;
}

.timezone {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 0;
}

.timezoneItem {
  margin-right: 0.5rem;
}